services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    security_opt:
      - label:disable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - portainer_data:/data:z
    ports:
      - 9444:9443

volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: portainer_network
